.table__body {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #E1CFFF;
}
.table__body:hover {
    background: #EEE3FF;
    color: #4005A0;
    font-weight: 600;
}
.active {
    background: #EEE3FF;
    color: #4005A0;
    font-weight: 600;
}
.table__body:last-of-type {
    border-radius: 0 0 15px 15px;
}
.table__body-item:first-of-type {
    width: 56px;
}
.table__body-item {
    width: 30%;
}
input {
    width: 14px;
    height: 14px;
    cursor: pointer;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}